/* Custom Properties */
:root {

    /* backgorund colors */
    --bg-blu: #255ee9;
    --bg-white: white;
    --bg-gray: rgb(245, 245, 245);
    --bg-black: rgb(34, 38, 41);
    --bg-coral: coral;
    --bg-sky-blu: skyblue;
    --bg-aqua: aqua;
    --bg-purple: rgb(114, 137, 218);

    /* Text colors */
    --tx-white: white;
    --tx-black: black;
    --tx-purple: rgb(114, 137, 218);

    /* Margin */
    --mr-sm: 5px;
    --mr-md: 10px;
    --mr-lg: 15px;

    /* Padding */
    --pd-top-btm-sm: 15px 0;
    --pd-top-btm-md: 25px 0;
    --pd-top-btm-lg: 50px 0;
    --pd-xs: 5px;
    --pd-sm: 10px;
    --pd-md: 15px;
    --pd-lg: 35px;
    --pd-xl: 159px;

}

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 1186px;
}

/* Utility */
.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    min-width: 1123px;
}


.flex {
    display: flex;
}

.btn-white {
    padding: 10px 15px;
    border-radius: 18px;
    background-color: var(--bg-white);
    color: var(--tx-black)
}

.btn-black {
    padding: 12.5px 15px;
    border-radius: 18px;
    background-color: var(--bg-black);
    color: var(--tx-white)
}

.btn-purple {
    padding: 10px 15px;
    border-radius: 18px;
    background-color: var(--bg-purple);
    color: var(--tx-white)
}

.pb-20 {
    padding-bottom: 20px;
}

/* Header */
#header {
    height: 80px;
    background-color: var(--bg-blu);
    padding: var(--pd-top-btm-md);
}

.header-content {
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
    min-width: 600px;
}

.logo {
    align-items: center;
}

.header-content .logo,
.button-login {
    width: 20%;
    flex-shrink: 0;

}

.navbar {
    width: 60%;
    justify-content: center;
    flex-shrink: 1;
}

.navbar-link {
    flex-wrap: nowrap;
    overflow: hidden;
}

.navbar-link a {
    color: white;
    margin: 0 var(--mr-md);
    font-size: 1.1rem;
    align-items: center;
}


.button-login {
    text-align: right;
}


/* Hero section */

#hero {
    background-image: url(../img/jumbo.png);
    height: calc(0.372 * 100vw);
    /* autoresize the bg immage */
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: var(--pd-xl);
    min-height: 432px;
}

.hero-content {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

h1 {
    color: white;
    font-size: clamp(40px, 3.5vw, 48px);
    /* autoresize the text */
}

.hero-p {
    color: white;
    font-size: clamp(14px, 1.2vw, 20px);
    /* autoresize the text */
    line-height: 34px;
    margin: 26px 0;
}

.hero-buttons {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    justify-content: space-between;
    gap: 10px;
}

.mac-button {
    display: inline-flex;
    align-items: center;
    gap: 3px;
}

/* main content section */

.section-bg-white {
    background-color: var(--bg-white);
    padding: var(--pd-top-btm-lg);
}

.section-bg-gray {
    background-color: var(--bg-gray);
    padding: var(--pd-top-btm-lg);
}

.block-text {
    flex-basis: 40%;
}

.block-img {
    flex-basis: 60%;
}

.content-title {
    padding-top: var(--pd-lg);
    font-size: 3rem;
}

.content-pharagraph {
    padding-top: var(--pd-lg);
    font-size: 1.4rem;
    line-height: 39px;
}

/* action section */
.section-action {
    background-color: var(--bg-gray);
    padding: 25px 0 100px;
}

.block-action {
    text-align: center;
    margin: 0 auto;
}

.action-img {
    width: 100%;
}

.block-action h2,
.block-action p {
    width: 90%;
    margin: 0 auto;
}

.adventure {
    padding-top: 70px;
    padding-bottom: var(--pd-lg);
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.adventure-title {
    font-size: 1.6rem;
}

/* footer section */
/* footer top */
.footer {
    background-color: var(--bg-black);
    padding: var(--pd-top-btm-lg);
}

.top-footer {
    padding: var(--pd-top-btm-md);
    border-bottom: 1px solid var(--bg-purple);
}

.footer-left {
    flex-basis: 30%;
}

.footer-right {
    flex-basis: 70%;
}

.footer-title {
    font-size: 32px;
    color: var(--tx-purple);
}

.it-flag {
    height: 18px;
}

.language-selection {
    gap: 5px;
    align-items: center;
}

.language {
    color: var(--tx-white);
    align-items: center;
    gap: 5px;
}

.social {
    color: var(--tx-white);
    gap: 15px;
}

.footer-right li {
    color: var(--tx-white);
    line-height: 35px;
}

.footer-right a.list-title {
    color: var(--tx-purple);
}

/* footer bottom */
.footer-right nav {
    flex-basis: 25%;

}

.bottom-footer {
    padding: var(--pd-top-btm-sm);
    justify-content: space-between;

}